<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Product List</h4>
                      <p class="card-category"> These are the products present in store at the moment</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Name
                                  </th>
                                  <th>
                                      Brand
                                  </th>
                                  <th>
                                      For
                                  </th>
                                  <th>
                                      Cost
                                  </th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
                                          Holbrook metal
                                      </td>
                                      <td>
                                          Oakley
                                      </td>
                                      <td>
                                          Men
                                      </td>
                                      <td class="text-primary">
                                          $317
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          2
                                      </td>
                                      <td>
                                          Original Wayfarer Classic
                                      </td>
                                      <td>
                                          Rayban
                                      </td>
                                      <td>
                                          Men
                                      </td>
                                      <td class="text-primary">
                                          $205
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          3
                                      </td>
                                      <td>
                                          Gregory Peck Son
                                      </td>
                                      <td>
                                          Oliver Peoples
                                      </td>
                                      <td>
                                          Men
                                      </td>
                                      <td class="text-primary">
                                          $447
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          4
                                      </td>
                                      <td>
                                          RA687
                                      </td>
                                      <td>
                                          Ralph
                                      </td>
                                      <td>
                                          Women
                                      </td>
                                      <td class="text-primary">
                                          $315
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          5
                                      </td>
                                      <td>
                                          Erika Classic
                                      </td>
                                      <td>
                                          Prada
                                      </td>
                                      <td>
                                          Men
                                      </td>
                                      <td class="text-primary">
                                          $394
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          6
                                      </td>
                                      <td>
                                          ClubMaster Classic
                                      </td>
                                      <td>
                                          Oakley
                                      </td>
                                      <td>
                                          Women
                                      </td>
                                      <td class="text-primary">
                                          $256
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
