@{
    ViewData["Title"] = "Home Page";
}



<div class="jumbotron">
        <h1 class="display-4">Movie World</h1>
        <hr class="my-4">
        <p class="lead">Welcome to your new home for streaming movies. Whether you're looking to rent, purchase or read about your favorite movies and entertainers, you've come to the right place.</p>
        <br />
    </div>

